<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking</title>

    <%- include('./parts/head.ejs')%>

    <script>
        var timeOfDay = [
            '0000', '0030', '0100', '0130', '0200', '0230', '0300', '0330',
            '0400', '0430', '0500', '0530', '0600', '0630', '0700', '0730',
            '0800', '0830', '0900', '0930', '1000', '1030', '1100', '1130',
            '1200', '1230', '1300', '1330', '1400', '1430', '1500', '1530',
            '1600', '1630', '1700', '1730', '1800', '1830', '1900', '1930',
            '2000', '2030', '2100', '2130', '2200', '2230', '2300', '2330'
        ]
    </script>
    
    
</head>
<body>

    <!-- start menu -->
    <%- include('./parts/header.ejs')%>
    <!-- end menu -->

    <!-- start Top of the booking -->
    <div class="container">
        <div class="top-booking">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 booking-slider">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img class="img-fluid" src="images/main_banner.jpg" alt="Los Angeles">
                            </div>
                            <div class="carousel-item">
                            <img class="img-fluid" src="images/main_banner1.jpg" alt="Chicago">
                            </div>
                            <div class="carousel-item ">
                            <img class="img-fluid" src="images/main_banner.jpg" alt="New York">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>

                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 booking-description">
                    <h2>Tên sân: <span class="strong"><%=owner.nameOffield %></span></h2>
                    <p><strong>Địa chỉ: </strong><%=owner.address.street %>, <%=owner.address.ward %>, <%=owner.address.district %>, <%=owner.address.city %></p>
                    <p><strong>Tên chủ sân: </strong><%=owner.nameOwner %></p>
        
                    </p>
                    <p><strong>Mô tả ngắn </strong><%=owner.description %></p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <section>
            <h1>Danh sách sân của <span class="strong"><%=owner.nameOffield %></span> </h1>

            <% 
            
            let ids = []
            let times =[]
            
            if(fields.length === 0) { 
                
            %>
                    <div class="alert alert-secondary">
                        <strong>Xui quá: </strong> Chủ sân hiện tại chưa có sân rồi. Chờ chủ sân cập nhật nhé
                    </div>

            <% } else { fields.forEach( field => 
                { 
                    ids.push(field.ID)
            
            %>


                
                <div class="row">
                    <div class="col-xs-2 col-sm-3">
                        <img class="img-news-small" src="/images/soccer-field.jpg" alt="anh san bong">
                    </div>
                    <div class="col-sm-9">
                        <h2><%=field.nameOfYard%></h2>
                        <p><strong>Số người: </strong><%=field.typeOfField%> VND</p>
                        <p><strong>Ngày: </strong><span id="date_<%=field.ID%>"><%=time%></span></p>
                        <p><strong>Giá: </strong> <span class="badge badge-success"><%=field.price%></span></p>

                        <div class="pick-time" id="time_<%=field.ID %>">
                        
                        </div>
                    </div>
                </div>
                <hr>

            <% })} %>


            
            
        </section>
    </div>


    <%
        ids.forEach( id => {%>

        <script>
            var fieldID = '<%=id%>'
            var time = $("#date_<%=id %>").text()
            socket3000.emit("get time booking request",{fieldID, time})
            socket3000.on("get time booking response", function(data){

                var times = JSON.parse(data)
                
                timeOfDay.forEach( _30minute => {
                    if(isExist(times, _30minute)){
                        $("#time_<%=id%>").append(
                            `<button type="button" disabled class="btn btn-success btn-date">`+_30minute+`</button>`
                        )
                    } else {
                        $("#time_<%=id%>").append(
                            `<button type="button" class="btn btn-success btn-date">`+_30minute+`</button>`
                        )
                    }
                } )
            })

            function isExist(array, value){
                var flat = false
                for(var i=0; i<array.length;i++){
                    e = array[i]
                        if(e === value){
                        flat = true
                    }
                }
                return flat
            }
        </script>
            
    <%    })
    %>



    <%- include('./parts/footer.ejs')%>



    

</body>
</html>