<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <%- include('./parts/head.ejs')%>
    
</head>

<body>
    <!-- start menu -->
    <%- include('./parts/header.ejs')%>
    <!-- end menu -->
    
    <!-- start carousel -->
    <%- include('./parts/carousel.ejs')%>
    <!-- end-carousel -->

    <!-- body of page -->
     <div class="news-part">
        <div class="container">
            <div class="row">
                <!-- start tin tuc bong da -->
                <div class="col-md-9 article-hot-news">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h2 class="brand-news">Tin tức bóng đá</h2>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 category-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bóng đá khu vực
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Bóng đá ngoại hạng anh</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Tây Ban nha</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Đức</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 view-all-news">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="row article">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hot-item">
                            <img src="images/item.jpg" alt="hinh anh" class="img-responsive">
                            <h3 class="news-title">Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h3>
                            <p class="news-time">1/12/2017</p>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- end tin tuc bong da -->

                <!-- start bang xep hang -->
                <%-include('./parts/rankTable.ejs')%>
                <!-- end bang xep hang -->
                
            </div>
        </div>
    </div>
    <hr>
    <div class="news-part">
        <div class="container">
            <div class="row">
                <!-- start tin tuc bong da -->
                <div class="col-md-9 article-hot-news">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h2 class="brand-news">Tin tức bóng đá</h2>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 category-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bóng đá khu vực
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Bóng đá ngoại hạng anh</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Tây Ban nha</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Đức</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 view-all-news">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="row article">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hot-item">
                            <img src="images/item.jpg" alt="hinh anh" class="img-responsive">
                            <h3 class="news-title">Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h3>
                            <p class="news-time">1/12/2017</p>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- end tin tuc bong da -->

                <!-- start bang xep hang -->
                <%-include('./parts/rankTable.ejs')%>
                <!-- end bang xep hang -->
            </div>
        </div>
    </div>
    <hr>
    <div class="news-part">
        <div class="container">
            <div class="row">
                <!-- start tin tuc bong da -->
                <div class="col-md-9 article-hot-news">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h2 class="brand-news">Tin tức bóng đá</h2>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 category-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bóng đá khu vực
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Bóng đá ngoại hạng anh</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Tây Ban nha</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Đức</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 view-all-news">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="row article">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hot-item">
                            <img src="images/item.jpg" alt="hinh anh" class="img-responsive">
                            <h3 class="news-title">Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h3>
                            <p class="news-time">1/12/2017</p>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- end tin tuc bong da -->

                <!-- start bang xep hang -->
                <%-include('./parts/rankTable.ejs')%>
                <!-- end bang xep hang -->
            </div>
        </div>
    </div>
    <hr>
    <div class="news-part">
        <div class="container">
            <div class="row">
                <!-- start tin tuc bong da -->
                <div class="col-md-9 article-hot-news">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h2 class="brand-news">Tin tức bóng đá</h2>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 category-item">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bóng đá khu vực
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Bóng đá ngoại hạng anh</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Tây Ban nha</a>
                                    </li>
                                    <li>
                                        <a href="#">Bóng đá Đức</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 view-all-news">
                            <a href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="row article">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hot-item">
                            <img src="images/item.jpg" alt="hinh anh" class="img-responsive">
                            <h3 class="news-title">Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h3>
                            <p class="news-time">1/12/2017</p>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <img src="images/item.jpg" alt="hinh anh" class="img-thumbnail">
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <h4>Chuyển nhượng MU: Mourinho ép giá Real, Bale 53 triệu bảng</h4>
                                    <p class="news-time">1/12/2017</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- end tin tuc bong da -->

                <!-- start bang xep hang -->
                <%-include('./parts/rankTable.ejs')%>
                <!-- end bang xep hang -->
            </div>
        </div>
    </div>
    <hr>
    <!-- end body of page -->

    <!-- footer of page -->
    <%- include('./parts/footer.ejs')%>
    <!-- end footer of page -->

</body>

</html>