<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thông tin User</title>
    <%- include('./parts/head.ejs')%>
</head>
<body>
    <!-- start menu -->
    <%- include('./parts/header.ejs')%>
    <!-- end menu -->

    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/img_avatar1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Le Thanh Long</h5>
                            <button type="button" class="btn btn-default">Chỉnh sửa</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p><strong>Địa chỉ:</strong>  <%=user.name%></p>
                    <p><strong>Số điện thoại: </strong> <%=user.phone%></p>
                    <p><strong>Email:</strong> <%=user.email%></p>
                    <p><strong>Mô tả ngắn: </strong> <span class="text-secondary">Your are nothing to share</span> </p>
                </div>
            </div>
        </section>

        <section>
            <div class="card bg-success text-white">
                <div class="card-body">Lịch sử đặt sân</div>
            </div>

            <% history.forEach( booking => { %>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Mã đặt sân:</h4>  <%=booking.booking._id %>
                    </div>
                    <div class="col-sm-3">
                        <strong>Tên người nhận sân:</strong><%=user.name %>
                    </div>
                    <div class="col-sm-3">
                        <strong>Địa chỉ: </strong><%=booking.owner.address.street %>, <%=booking.owner.address.ward %>, <%=booking.owner.address.district %>, <%=booking.owner.address.city %>
                    </div>
                    <div class="col-sm-3">
                        <strong>Tên nhà sân: </strong><%=booking.owner.nameOffield %>
                    </div>
                    <div class="col-sm-3">
                        <strong>Thời gian: </strong> ngày <%=booking.booking.time.date %> tháng <%=booking.booking.time.month %> năm <%=booking.booking.time.year %> - <%=booking.booking.time.hour %> giờ <%=booking.booking.time.minute %>
                    </div>
                    <div class="col-sm-3">
                        <strong>Thời lượng: </strong><%=booking.booking.duration %> phút
                    </div>
                    <div class="col-sm-3">
                        <strong>Giá tiền: </strong><%=booking.booking.totalPrice %>
                    </div>
                </div>
                <hr>
                    
            <% }) %>

            
        </section>
    </div>
  
    <%-include('./parts/footer.ejs')%>

    


    
</body>
</html>